.env
.venv

*.log

env/
venv/

__pycache__/

celery/*
!celery/.gitignore

logs/*
!logs/.gitignore

static/*
!static/.gitignore

media/*
!media/.gitignore

resources/*
!resources/.gitignore

trained_models/*
!trained_models/.gitignore

*.keras
*.joblib
*.pkl

!src/modules/cities_expansion/geoanalyzer/models/*.pkl